* { box-sizing: border-box }
img {
  max-width: 100%;
}
.container {
  margin: 0 auto;
  width: 75rem;
}
.column {
  padding-left: 1rem;
  padding-right: 1rem;
}
/*
  ######## HEADER ########
*/
.App-header {
  align-items: center;
  background: linear-gradient(#0b3450, #20516b);
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 100%;
}
.App-header-content-wrap {
  color: #fefefe;
  text-align: center;
  z-index: 3;
}
canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}
/*
  ######## Career Section ########
*/
.career {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.select-period {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  justify-content: space-around;
  list-style: none;
}
.select-period li {
  background: #fefefe;
  border-radius: 100%;
  border: 1px solid #20516b;
  cursor: pointer;
  height: 17px;
  position: relative;
  width: 17px;
  z-index: 3;
}
.select-period li:first-of-type::before {
  background: #20516b;
  content: '';
  height: 195px;
  left: 50%;
  position: absolute;
  top: 16px;
  transform: translateX(-100%);
  width: 1px;
  z-index: 2;
}
li.selected-item {
  background: #20516b;
  border: 0;
}
.period-wrap {
  width: 90%;
}
.period {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.period main {
  flex: 0 0 70%;
}
.period > div {
  flex: 0 0 30%;
  text-align: center;
}
.period img {
  max-height: 250px;
}
.hide {
  display: none;
}
.my-skills {
  background: rgb(240,240,240);
  padding: 40px 0;
}
.my-skills .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.my-skills .column {
  text-align: center;
  width: 25%;
}
.my-skills .column:first-of-type {
  margin-bottom: 40px;
}
.my-skills img {
  width: 75px;
}
.my-references {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 0;
}
.my-references .column {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 33.3%;
}
.gif-icon {
  background-color: rgba(0,0,0,.6);
  border-radius: 2px;
  color: white;
  font-size: .6rem;
  padding: .3rem .6rem;
  position: absolute;
  right: 1.3rem;
  text-transform: uppercase;
  top: .3rem;
}
.gif-icon.is-active {
  background-color: rgba(0, 130, 0, 0.6);
}

@media screen and (max-width: 75rem) {
  .container {
    width: 100%;
  }
}
