* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-family: 'Orbitron';
}
h3 {
  margin-top: 0;
  margin-bottom: 35px;
}
h4,
h5,
p {
  font-family: 'Play';
}
h4 {
  font-size: 1.25rem;
  margin-top: 0;
}
img {
  max-width: 100%;
}
.container {
  margin: 0 auto;
  padding: 60px 0;
  width: 75rem;
}
.column {
  padding-left: 1rem;
  padding-right: 1rem;
}
/*
  ######## HEADER ########
*/
.App-header {
  align-items: center;
  background: linear-gradient(#0b3450, #20516b);
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.App-header-content-wrap {
  color: #fefefe;
  text-align: center;
  z-index: 3;
}
canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}
/*
  ######## Career Section ########
*/
.career > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.select-period {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
}
.select-period li {
  position: relative;
  width: 17px;
  height: 17px;
}
.select-period li i {
  display: block;
  background: #fefefe;
  border-radius: 100%;
  border: 1px solid #20516b;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 4;
  position: relative;
  transform: scale(0);
}
.select-period li:first-of-type i {
  transition: transform 0.2s linear 0.7s;
}
.show-selection-list li:first-of-type i {
  transform: scale(1);
  transition: transform 0.2s;
}
.select-period li:nth-of-type(2) i {
  transition: transform 0.1s linear 0.45s;
}
.show-selection-list li:nth-of-type(2) i {
  transform: scale(1);
  transition: transform 0.2s linear 0.35s;
}
.select-period li:last-of-type i {
  transition: transform 0.2s linear 0.2s;
}
.show-selection-list li:last-of-type i {
  transform: scale(1);
  transition: transform 0.2s linear 0.6s;
}
.select-period li:first-of-type::before {
  background: #20516b;
  content: '';
  height: 0;
  left: 9px;
  position: absolute;
  top: 16px;
  transform: translateX(-100%);
  width: 1px;
  z-index: 2;
  transition: height 0.6s linear 0.1s;
}
.show-selection-list li:first-of-type::before {
  transition: height 0.6s linear 0.1s;
  height: 225px;
}
.show-selection-list .is-next::after {
  animation: growth 4s linear 2s infinite;
  background: #20516b;
  border-radius: 50%;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
.show-selection-list .is-next::before {
  animation: growth 4s linear 2.3s infinite;
  background: #20516b;
  border-radius: 50%;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
@keyframes growth {
  85% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
li.selected-item i {
  background: #20516b;
  border: 0;
}
.period-wrap {
  width: 90%;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.period-wrap.fade-in {
  opacity: 1;
  transition: opacity 0.2s linear 0.8s;
}
.period {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.period main {
  flex: 0 0 70%;
}
.period h2 {
  margin-top: 0;
}
.period > div {
  flex: 0 0 30%;
  text-align: center;
}
.period img {
  max-height: 250px;
}
.hide {
  display: none;
}
/*
  ######## My Skills ########
*/
.my-skills {
  background: rgb(240, 240, 240);
}
.my-skills .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;
}
.my-skills .column {
  padding-bottom: 40px;
  position: relative;
  text-align: center;
  width: 25%;
}
.my-skills img {
  width: 75px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.2s;
}
.my-skills .fade-in,
.social-network .fade-in {
  opacity: 1;
  transform: translateY(0);
}
.info-icon {
  background-color: #20516b;
  color: #fefefe;
  font-size: 0.8rem;
  border-radius: 4px;
  bottom: 10px;
  padding: 4px 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s;
}
.info-icon::after {
  border-color: transparent transparent #20516b transparent;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: -6px;
  transform: translateX(-50%);
  width: 0;
}
/*
  ####### My References #######
*/
.my-references > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;
}
.my-references .column {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 35%;
}
.references-wrap > div {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.2s linear, transform 0.2s linear;
}
.references-wrap .fade-in {
  opacity: 1;
  transform: translateY(0);
}
.references-wrap > div:first-child {
  width: 65%;
}
.references-wrap > div:nth-child(2) {
  margin-bottom: 1rem;
  order: 2;
}
.references-wrap > div:last-child {
  margin-top: 1rem;
  order: 3;
}
.my-references img {
  cursor: pointer;
  width: 100%;
}
.gif-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  color: white;
  font-size: 0.6rem;
  padding: 0.3rem 0.6rem;
  position: absolute;
  right: 1.3rem;
  text-transform: uppercase;
  top: 0.3rem;
}
.gif-icon.is-active {
  background-color: rgba(0, 130, 0, 0.6);
}
.gif-actions {
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  background: rgba(10, 10, 10, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gif-link {
  display: block;
  width: 35px;
  height: 35px;
}
.gif-link img {
  text-align: center;
  max-width: 100%;
  color: white;
}

/*
  ####### SOCIAL NETWORKS  #######
*/
.social-network {
  background-color: #0b3450;
}
.social-network .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-network .column {
  position: relative;
}
.social-network img {
  width: 40px;
  cursor: pointer;
  transition: all 0.2s;
  opacity: 0;
  transform: translateY(-20px);
}
.social-network .info-icon {
  bottom: -30px;
}
/*
  ####### Responsive ######
*/
@media screen and (max-width: 75rem) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 47.9375rem) {
  .period main {
    flex: 0 0 100%;
  }
  .period > div {
    display: none;
  }
  .period-wrap {
    width: 85%;
  }
  .select-period {
    width: 15%;
  }
}

/* .gif-link {
  color: #0b3450;
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 140px;
  opacity: 0;
  transition: opacity 0.15s linear 0.85s;
}
.gif-link svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.gif-link line {
  fill: none;
  stroke: #0b3450;
  stroke-width: 2;
}
.left,
.right {
  stroke-dasharray: 30;
  transform: translateY(30px);
  transition: transform 0.15s linear 0.35s;
}
.top-right {
  stroke-dasharray: 70;
  transform: translateX(70px);
}
.top-left {
  stroke-dasharray: 70;
  transform: translateX(-70px);
}
.top-left,
.top-right {
  transition: transform 0.35s linear;
}
.gif-link::after {
  border-bottom: 1px solid #0b3450;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  transition: transform 0.35s linear 0.5s;
  width: 100%;
}
.draw .top-left,
.draw .top-right {
  transform: translateX(0);
  transition: transform 0.35s linear 0.65s;
}
.draw .left,
.draw .right {
  transform: translateY(0);
  transition: transform 0.15s linear 0.5s;
}
.draw::after {
  transform: scaleX(1);
  transition: transform 0.35s linear 0.15s;
}
.draw {
  opacity: 1;
  transition: opacity 0.15s linear, color 0.2s linear,
    background-color 0.2s linear;
}
.gif-link:hover {
  color: #fefefe;
  background: #20516b;
} */
/*
  ####### My Social Network #######
*/
